// If you want to override variables do it here
// DatePicker
thead[class*="ant-table-thead"] th{
    background-color: #CEE4FE!important;
    align-content: center;
  }
// tr:first-child > th:last-child{border-top-right-radius:20px;}


// .ant-table {
//   display: block;

//   @media screen and (max-width: 600px) {
//     // &-thead {
//     //   display: inline-block;
//     // }

//     &-thead>tr,
//     &-tbody>tr {

//       th,
//       td {
//         &:first-of-type {
//           padding-top: 1rem;
//         }

//         &:last-of-type {
//           padding-bottom: 1rem;
//         }
//       }

//       >th,
//       >td {
//         display: block;
//         width: auto !important;
//         border: none;
//         padding: 0 1rem;
//         font-size: 1.1rem;

//         &:last-child {
//           border-bottom: 1px solid #eee;
//         }
//       }
//     }
//   }
// }
.customDatePickerWidth, 
.customDatePickerWidth > div.react-datepicker-wrapper, 
.customDatePickerWidth > div > div.react-datepicker__input-container
.customDatePickerWidth > div > div.react-datepicker__input-container input {
   width: 100%;
}


.red{
    color: red;
}
 

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    display: block;
    height: auto;
    width: 100%;
    border-radius: 0.25rem;
    border: 0.75px solid;
    border-color: #b1b7c1;
    transition: border-color 0.15;
}


@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import CoreUI for React components library
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

@import "layout";
@import "example";

// If you want to add custom CSS you can put it here.
@import "custom";
